<%= erb :'components/header' %>

        <div class="ui text container">
          <h1 class="ui inverted header">
            makersbnb
          </h1>
          <h2>Need a room? We've got rooms.</h2>
        </div>
      </div>

      <div class="ui middle aligned stackable grid container">

        <div class="ui hidden divider"></div>
        <% @rooms.each do |room| %>

        <div class="ui row cards">
          <div class="card raised room">
            <div class="content">
              <div class="header"><%= room.name %></div>
              <div class="description">
                <%= room.description %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a href="/bookings/new"><i class="calendar outline icon"></i> Book</a>
            </div>
          </div>
        </div>
        <% end %>

        <div class="ui hidden divider"></div>
      </div>
    </div>
  </body>
</html>


<!-- <div class="ui info message">
  <i class="close icon"></i>
<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[:notice] %>
  </div>
<% end %> -->
